<p align="right" style="margin-right: 10px; color: red" >fields marked (*) are mandatory</p>
<h1 align="center", style="margin-top: 90px; margin-bottom: 50px">Add new student</h1>

<%=render 'form' %>













