<h1 align="center", style="margin-bottom: 50px">Student's info</h1>
<div class="container">
  <form>

    <div class="row g-3">
      <div class="col mb-3">
        <label for="FirstName" class="form-label">First name</label>
        <input type="text" class="form-control" aria-label="First name">
      </div>
      <div class="col mb-3">
        <label for="LastName" class="form-label">Last name</label>
        <input type="text" class="form-control"aria-label="Last name">
      </div>
    </div>

    <div class="col mb-3">
      <label for="Address" class="form-label">Address</label>
      <input type="text" class="form-control"aria-label="Address">
    </div>



    <div class="row g-3">
      <div class="col-sm-9 mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" class="form-control" aria-label="Email">
      </div>
      <div class="col-sm mb-3">
        <label for="Phone Number" class="form-label">Phone number</label>
        <input type="text" class="form-control" aria-label="Phone">
      </div>
    </div>


    <div class="row g-3">

      <div class="col-5 mb-5">
        <label for="Father name" class="form-label">Father name</label>
        <input type="text" class="form-control" aria-label="Father name">
      </div>
      <div class="col-5 mb-5">
        <label for="Mother name" class="form-label">Mother name</label>
        <input type="text" class="form-control" aria-label="Mother name">
      </div>
      <div class="col">
        <label for="DateOfBirth" class="form-label">Date of birth</label><br>
        <input type="date" id="date_of_birth" name="date_of_birth">
      </div>

    </div>


    <div class="row g-3">
      <div class="col-lg mb-3 mt-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Select the class</option>
          <option value="1"> class I</option>
          <option value="2">class II</option>
          <option value="3">class III</option>
          <option value="4">class IV</option>
          <option value="5">class V</option>
          <option value="6">class VI</option>
          <option value="7">class VII</option>
          <option value="8">class VIII</option>
          <option value="9">class IX</option>
          <option value="10">class X</option>
        </select>
      </div>
      <div class="col-sm mb-3 mt-3">
        <select class="form-select" aria-label="Default select example">
          <option selected>Select the blood group</option>
          <option value="1"> A+</option>
          <option value="2">A-</option>
          <option value="3">AB+</option>
          <option value="4">AB-</option>
          <option value="5">B+</option>
          <option value="6">B-</option>
          <option value="7">O+</option>
          <option value="8">O-</option>
        </select>
      </div>
    </div>

























    <br>
    <div align="right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>