<h1 align="center" style="margin-top: 100px">WELCOME TO STUDENTS MANAGEMENT SYSTEM</h1>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4 text-center" style="padding-top: 100px">
    <div class="card border-dark" style="">
      <div class="card-body">
        <h1 class="card-title" style="padding: 30px 0 ">Login as</h1>
        <div class="card-body">
          <%=link_to 'user', new_user_session_path, class: "btn btn-outline-primary"%> <br><br>
          <%=link_to 'student', new_student_session_path, class: "btn btn-outline-primary"%> <br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>